.route-header {
    margin-top: 30px;
    width: 600px;
    display: flex;
    flex-flow: row;
    list-style: none;
}

.route-header li {
    margin-right: 18px;
}

.route-header li a {
    text-decoration: none;
    color: #fff;
}

.route-header li a:hover {
    color: rgb(0, 216, 255);
}