* {
    background-color: rgb(26, 26, 26);
}

.app {
    /* flex 水平垂直居中 从上向下布局  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: #fff;
}

.header-log {
    width: 200px;
    height: 200px;
    background: url(../../static/img/logo.jpeg) no-repeat center center;
    background-size: cover;
}
